.articles {
  display: flex;
}
.leftcolumn {
  width: 75%;
}

.rightcolumn {
  width: 25%;
  padding-left: 20px;
}

.img {
  width: 80%;
}
.cards-h2 {
  font-size: 20px;
}
a {
  cursor: pointer;
}
hr {
  border: 1.5px solid #013246;
  width: 50px;
}
.card {
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}
.cards {
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}
.heading2 {
  position: absolute;
  top: 100%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 32%;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
