.forgotpassword {
  padding: 120px;
  color: rgb(230, 230, 230);
  background: #dcdada;
  font: 600 16px/18px "Open Sans", sans-serif;
}
.forgotpassword-wrap {
  width: 100%;
  margin: auto;
  max-width: 557px;
  min-height: 540px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.forgotpassword-html {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 70px;
  background: #013246;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.forgotpassword-form {
  min-height: 345px;
  position: relative;
}
.label {
  text-transform: unset !important;
  width: 380px;
  font-size: 13px;
}
